@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* -------------------- Page Styling */

html {
  height: 100%;
  margin: auto;
  width: 960px;
}

/* ---------------------- background image */

body {
    background: url("../images/football-pitch.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* ------------------------Headings */

h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-top: 5px;
    font-weight: 700;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 15px 0 15px 0;
}

/* ------------------- Description box */

.description-box {
    border: solid black 2px;
    margin: 0 5px 0 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
}

.game-description {
    text-align: center;
}

.how-to {
    text-align: center;
    list-style-position: inside;
}

/* ------------------ Player Info / Start Button / Timer */

.player-info {
    border: solid black 2px;
    margin: 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
    text-align: center;
    font-weight: bold;
}

input {
    height: 20px;
    width: 10%;
    margin: 10px 0 5px 0;
    border: solid black 1px;
}

button {
    width: 8%;
    margin-left: 5px;
}

.time {
    margin-bottom: 5px;
}

/* ------------------- Game  */

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.badge,
.back,
.front {
    height: 71px;
    width: 71px;
}

.front {
    background: url('../../assets/images/Premier-League-Logo1.jpg') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: black !important;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.selected {
    border: solid 1.5px yellow;
}

.match {
    border: solid 1.5px red;
    background-image: none !important;
}

/* ----------------------- Footer */

/* footer {
  color: rgb(209, 205, 205);
  width: 100%;
  left: 0;
  clear: both;
  position: relative;
  margin-top: 15px;
} */
