@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* -------------------- Page Styling */

html {
  height: 100%;
  margin: auto;
  width: 960px;
}

/* ---------------------- background image */

body {
    background: url("../images/football-pitch.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

/* ------------------------Headings */

h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: 0 0 5px 0;
    font-weight: 700;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 15px 0 15px 0;
}

/* ------------------- Description box */

.descriptionBox {
    border: solid black 2px;
    margin: 0 5px 0 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
}

.gameDescription {
    text-align: center;
}

.howTo {
    text-align: center;
    list-style-position: inside;
}

/* ------------------ Player Info / Start Button / Timer */

.playerInfo {
    border: solid black 2px;
    margin: 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
    text-align: center;
    font-weight: bold;
}

input {
    height: 20px;
    width: 10%;
    margin: 10px 0 5px 0;
    border: solid black 1px;
}

button {
    width: 8%;
    margin-left: 5px;
}

.time {
    margin: 0 0 5px 0;
}

/* ------------------------- Game Background */

.gameBackground {
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
}

/* ------------------------- Game  */

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  cursor: pointer;
}

.badge,
.back,
.front {
    height: 100px;
    width: 100px;
}

.front {
    background: url('../../assets/images/Premier-League-Logo1.jpg') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: transparent !important;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.selected {
    border: solid 1.5px black;
}

.match {
    background-image: none !important;
}