@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* ---------------------- background image */

body {
    background: url("../images/football-pitch.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/* ------------------------Headings */

h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-top: 5px;
    font-weight: 700;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 15px 0 15px 0;
}

/* ------------------- Description box */

.description-box {
    border: solid black 2px;
    margin: 0 5px 0 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
}

.game-description {
    text-align: center;
}

.how-to {
    text-align: center;
    list-style-position: inside;
}

/* ------------------ Player Info / Start Button / Timer */

.player-info {
    border: solid black 2px;
    margin: 5px;
    background-color: rgba(241, 241, 241, 0.5);
    width: auto;
}

/* ------------------- Game background */

.game-background {
    border: solid black 2px;
    margin: 5px;
    background-color: rgba(241, 241, 241, 0.5);
    height: 540px;
    width: auto;
    padding: 10px;
}

/* ----------------------- Footer */

/* footer {
  color: rgb(209, 205, 205);
  width: 100%;
  left: 0;
  clear: both;
  position: relative;
  margin-top: 15px;
} */
